html{
    font-size: 62.5%;
}

body{
    min-height: 100vh;
    display: grid;
    place-content: center;
    background-color: hsl(214, 17%, 92%);
}

h4, h5 {
    margin: 0.2rem;
    display: block;
}

h4 {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
}

h5 {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h2, p {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

h2 {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 600;
    font-style: normal;
}

p {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
}

img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

main {
    width: 24rem;
}

.container {
    display: grid;
}

.testimonial-card {
    margin: 0.7rem;
    padding: 1.5em;
    border-radius: 5px;
}

.card-header {
    display: flex;
    margin-left: 0.2em;
    margin-top: 0.4em;
}

.card-content p {
    line-height: 1.5rem;
}

.bio {
    margin-left: 1rem;
}

#daniel {
    background-color: hsl(263, 55%, 52%);
    color: hsl(214, 17%, 92%);
}

#jonathan {
    background-color: hsl(217, 19%, 35%);
    color: hsl(214, 17%, 92%);
}

#jeanette {
    background-color: white;
    color: hsl(217, 19%, 35%);
}

#patrick {
    background-color: hsl(219, 29%, 14%) ;
    color: hsl(0, 0%, 81%);
}

#kira {
    background-color: white;
    color: hsl(217, 19%, 35%);
}

#dan-dp {
    border: 2px solid hsl(264, 82%, 80%);
}

#pat-dp {
    border: 2px solid hsl(263, 55%, 52%);
}

footer {
    margin: 1rem auto;
    width: 15rem;
    font-size: 11px; 
    text-align: center;
}

footer a {
    color: hsl(228, 45%, 44%);
}


@media (min-width: 576px) {

    main {
        width: 84rem;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .testimonial-card {
        margin: 1rem;
    }

    #daniel {
        grid-column-start: 1;
        grid-column-end: 3;
        background-image: url("./images/bg-pattern-quotation.svg");
        background-repeat: no-repeat;
        background-position: 85% 0%;
        background-size: 7rem 8.5rem;
    }
    
    #jeanette {
        grid-row-start: 2;
    }
    
    #patrick {
        grid-column-start: 2;
        grid-column-end: 4;
    }
    
    #kira {
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 4;
    }

    footer {
        margin: 1rem auto ;
        align-content: center;
        width: 30rem
    }

}